.Home{
    padding-top: 176px;
}
.home__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__left{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 600px;
}
.home__title{
    width: 100%;
    max-width: 600px;
    color: rgb(29, 52, 68);
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
}
.home__text{
    width: 100%;
    max-width: 500px;
    color: rgb(91, 91, 91);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
.home__btn{
    width: 100%;
    max-width: 180px;
    padding: 18px 32px;
    border: none;
    border-radius: 27px;
    background: rgb(245, 138, 7);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 106.5%;
    text-transform: capitalize;
}
.home__img{
    width: 100%;
    max-width: 600px;
    height: 650px;
    border-radius: 20px;
}
.home__right{
    position: relative;
    transition: 0.5s;
    
}
.home__right:after{
    border-radius: 20px 0px 0px 20px;
    content: "";
    position: absolute;
    left: -100px;
    height: 650px;
background-color: rgba(128, 79, 10, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: 0.5s;
}
.home__right:hover:after{
    left: 0;
    width: 100%;
        max-width: 180px;
}
.our{
    padding: 128px 0px;  
}
.our__wrapper{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.our__cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 80px;
}
.our__card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 50px 32px 40px;
    width: 100%;
    max-width: 350px;
    height: 182px;
    border-radius: 20px;
        background: rgba(193, 228, 255, 0.3);
}
.our__title{
    color: rgb(13, 19, 23);
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -3%;
}
.our__card__title{
    color: rgb(13, 19, 23);
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -3%;
}
.our__text{
    color: rgb(57, 65, 73);
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
}
.our__link{
    color: rgb(245, 138, 7);
        font-size: 18px;
        font-weight: 400;
        line-height: 106.5%;
        letter-spacing: 0px;
        color: rgb(245, 138, 7);
}
.new{
    padding: 96px 0px;
    background-color: rgb(220, 234, 245);
}
.new__wrapper{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.new__cards{
   display: flex;
   align-items: center;
   gap: 10px;
}

.new__card__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px  ;
    border-radius: 0px 0px 20px 20px;
    background-color: white                                                                                                                                                                                                                                                                                                                                                                          ;
}
.new__card__title{
    color: rgb(13, 19, 23);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -3%;
}
.new__card__text{
    color: rgb(91, 91, 91);
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
}
.new__card__link{
    color: rgb(245, 138, 7);
        font-size: 16px;
        font-weight: 500;
        line-height: 106.5%;
        letter-spacing: 0px;
        color: rgb(245, 138, 7);
}
.new__title{
    color: rgb(13, 19, 23);
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -3%;
        text-transform: capitalize;
}


